@use "../abstract" as *

html
  font-family: $ff-body
  scroll-behavior: smooth

body
  background-color: $c-bg-light
  color: $c-text-dark
  -ms-overflow-style: none
  scrollbar-width: none

  &::-webkit-scrollbar
    display: none

button
  display: block
  cursor: pointer
  border: none
  background: none
  font: inherit

a
  text-decoration: none
  color: inherit

  &:is(:hover, :focus)
    color: $c-text-accent

.container
  max-width: $max-width

  +until($tablet)
    margin-inline: $s-16
  
  +from($tablet)
    margin: 0 auto
    

.section
  padding-block: $s-96

  &__title
    max-width: 516px

    +from($tablet)
      text-align: center
      margin-inline: auto
    
    span
      color: $c-accent
      text-transform: uppercase
      font-weight: $fw-500
      font-size: $fs-7
      letter-spacing: .2rem
    
    h1, .h1
      line-height: 1.125

.has-bg-alt
  background: $c-bg-alt
