@use "../abstract" as *

.btn
  padding: $s-8 $s-16
  border: $border-2 transparent
  background-color: $c-bg-dark
  color: $c-text-light
  text-transform: uppercase
  font-size: $fs-7
  font-weight: $fw-600
  border-radius: $radius-24
  transition: $transition
  text-align: center

  &--primary
    color: $c-text-light
    border-color: $c-secondary
    background-color: $c-secondary

    &:is(:hover, :focus)
      background-color: transparent
      color: $c-text-dark

  &--accent
    color: $c-text-light
    border-color: $c-accent
    background-color: $c-bg-accent

    &:is(:hover, :focus)
      background-color: transparent
      color: $c-accent

  &--outline
    color: $c-text-dark
    background-color: transparent
    border-color: $c-secondary

    &:is(:hover, :focus)
      background-color: $c-secondary
      color: $c-primary

  &--outline--light
    color: $c-text-light
    background-color: transparent
    border-color: $c-primary

    &:is(:hover, :focus)
      background-color: $c-primary
      color: $c-text-accent
  
  &--outline--accent
    color: $c-text-accent
    background-color: transparent
    border-color: $c-accent

    &:is(:hover, :focus)
      background-color: $c-accent
      color: $c-text-light