@use "../abstract" as *

.blog__page

  main .flex
    +until($tablet)
      flex-direction: column

  .blog__bio
    text-align: center

    +until($tablet)
      border-top: $border-1 $c-bg-alt
      border-top-style: dashed
      padding-top: $s-32
    
    +from($tablet)
      width: 30%
      padding: 0 $s-32
      border-left: $border-1 lighten($c-text-dark, 76%)

    .bio__img
      width: 256px
      height: 256px
      margin: 0 auto        
      border-radius: $radius-rounded
      overflow: hidden
    
    .bio__social
      font-size: $fs-1

      a:is(:hover, :focus)
        color: $c-accent

  .blog__content
    
    .section__title 
      text-align: left
      margin: 0

      span
        color: $c-text-alt
        text-transform: initial
