@use "../abstract" as *

.projects__page

  .header
    color: $c-text

    .btn
      color: $c-primary
      border-color: $c-accent
      background-color: $c-accent

    .lang__item.is-active
      color: $c-accent