@use "../abstract" as *

.about

  &__main

    +from($tablet)
      .section__title, .section__title::before
        margin-left: 0

    &__img
      text-align: center

    .about__img
      +until($tablet)
        width: 100%
        height: 480px
        object-fit: cover

      +from($tablet)
        width: 80%
        height: 360px
        object-fit: cover

    .flex
      +until($tablet)
        flex-direction: column
      
      +from($tablet)
        flex-direction: row-reverse
        align-items: center

        .section__title
          text-align: left
  
  &__team
    .team__container
      overflow: hidden
      padding-block: $s-16

      .team__slider-buttons
        padding-block: $s-16 0
      
      .swiper-button-prev::after, .swiper-button-next::after
        content: ""
      
      .swiper-button-prev, .swiper-button-next
        position: static !important
        width: 48px
        height: 48px
        margin: 0
        font-size: 3.815rem
        color: $c-text-accent
        background-color: $c-bg-invert
        border: none

      .swiper-button-disabled
        visibility: visible !important
    
    .team__card .card
      position: relative
      max-height: 480px
      border: $border-1 $c-bg-alt
      overflow: hidden

      &:is(:hover, :focus)
        .card__content
          bottom: 0
          background-color: $c-bg
      
      .card__content
        position: absolute
        left: 0
        bottom: -90px
        z-index: $z-10
        width: 100%
        padding-block: $s-32 0
        padding-inline: 0
        background-color: rgba($c-bg, .8)
        text-align: center
        transition: $transition

        .content__profile
          & > *
            margin: 0 auto
          
          .profile__position
            color: $c-text-alt
        
        .content__social
          padding-block: $s-16

          .social__link
            font-size: $fs-1
            color: lighten($c-text, 30%)

            &:is(:hover, :focus)
              color: $c-text-accent
  
  &__testimonial
    .sk_branding .tutorial_link
      display: none !important

    .sk-ww-google-reviews
      background-color: transparent !important

      +until($tablet)
        .swiper-wrapper
          left: 0 !important

        .swiper-button-prev
          left: -5px !important
        
        .swiper-button-next
          right: 0 !important
      
      +from($tablet)
        .swiper-wrapper
          left: 10px !important

        .swiper-button-prev
          left: 25px !important
        
        .swiper-button-next
          right: 25px !important

      .swiper-button-prev::after, .swiper-button-next::after
        content: ''
