@use "../abstract" as *

header
  position: fixed
  top: 0
  width: 100%
  background-color: transparent
  padding-block: $s-16
  z-index: $z-100
  transition: $transition
  color: $c-text-light

  .flex
    justify-content: space-between
    align-items: center

  &.is-sticky
    background-color: $c-bg-invert
    box-shadow: $shadow-1
    color: $c-text-light

    .nav__item .btn
      display: inherit
  
  .header__logo img
    width: 100%
    max-width: 50px
    height: 40px
    vertical-align: middle

.projects__page, .blog__page
  header, .header
    position: static
    color: $c-text-light
    background-color: $c-bg-invert

    .btn
      display: initial

    &.is-sticky
      position: fixed
