@use "../abstract" as *

header
  position: fixed
  top: 0
  width: 100%
  background-color: transparent
  padding-block: $s-16
  z-index: $z-100
  transition: $transition
  color: $c-text-light

  .flex
    justify-content: space-between
    align-items: center

  &.is-sticky
    background-color: $c-bg-light
    box-shadow: $shadow-1
    color: $c-text-dark
  
  .header__logo
    font-weight: $fw-700
    font-size: $fs-4
    background: -webkit-linear-gradient($c-accent,$c-primary)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.projects__page
  header *
    color: $c-text-dark