@use "../abstract" as *

.hero
  height: 100vh
  color: $c-text-light
  text-align: center
  overflow: hidden

  &__bg
    width: 100%
    height: 100%
    object-fit: cover
  
  &__content
    position: absolute
    left: 0
    top: 0
    z-index: $z-10
    width: 100%
    height: 100%
    background-color: rgba($c-secondary-alt, .7)
    flex-direction: column
  
    .h1, .h6
      color: $c-text-light
      margin: 0

      +until($tablet)
        line-height: 1
    
    .h6
      font-weight: $fw-500
      text-transform: uppercase