@use "../abstract" as *

.projects
  background-color: $c-accent
  color: $c-primary

  &__cta__content
    .section__title
      margin: 0
      text-align: left


    .section__title > *  
      color: $c-primary !important
  
  +until($tablet)
    .flex
      flex-direction: column
