@use "../abstract" as *

.tours
  &__cards
    padding: $s-16 0
    flex-wrap: wrap
    justify-content: center

    .tour__card
      position: relative
      border-radius: $radius-16

      .card__intro
        justify-content: space-between

        .card__title, .card__price
          align-self: flex-start

        .card__title
          h3
            line-height: .75

          span
            color: $c-text-accent
            font-weight: $fw-500
        
        .card__price *
          margin: 0
          line-height: 1
          color: lighten($c-text-dark, 10%)

          span
            font-size: $fs-6
      
      .card__description
        padding-block: $s-16 0
      
      .card__btns
        padding: 0 $s-16 $s-16
        justify-content: space-around
        align-items: center
      
      .card__info
        position: absolute
        left: 0
        top: 100%
        width: 100%
        height: 100%
        padding: $s-16
        background-color: rgba($c-bg-light, .92)
        transition: $transition

        .info__content ul
          padding-bottom: $s-16
        
        .info__btn
          margin: 0 auto
      
        &.is-open
          top: 0
        
        &--close
          font-size: $fs-3
          margin: 0
          padding: 0
          line-height: 1
          z-index: $z-10
    
      &:is(:hover, :focus)
        box-shadow: $shadow-2
    
      &.is-hidden
        position: absolute
        overflow: hidden
        clip: rect(0 0 0 0)
        height: 1px
        width: 1px
        margin: -1px
        padding: 0
        border: 0
    
      +until($mobile)
        width: 100%
      
      +from($mobile)
        width: calc((100% / 2) - $gap)
      
      +from($tablet)
        width: calc((100% / 3) - $gap)
  
  .cards__load-more
    margin: 0 auto
    display: none