@use "../abstract" as *

.footer

  &__content
    padding-block: 0 $s-32

    .container
      border-top: $border-1 $c-text-alt

    .footer__social
      gap: 8px

      a
        display: grid
        align-items: center
        padding: $s-8
        border: $border-1 $c-text
        border-radius: $radius-rounded
        font-size: $fs-4

        &:is(:hover, :focus)
          border: $border-1 $c-text-alt
          color: $c-text-alt

          i
            color: $c-text-alt

    .footer__quicklinks, .footer__contact
      li
        display: flex
        align-items: center
        justify-content: flex-start

      i
        font-size: $fs-5
        padding: $s-8
  
  &__copy
    width: 100%
    padding-block: $s-8
    text-align: center
    background-color: $c-bg-alt

  +until($mobile)
    .container.flex
      flex-direction: column
  
  +from($mobile)
    .container.flex
      flex-direction: row
  
