@use '../abstract' as *

.tours
  &__wrapper
    flex-wrap: wrap

    .tour__card
      position: relative
      width: 100%

      &.is-hidden
        position: absolute
        clip: rect(0 0 0 0)
        height: 1px
        width: 1px
        margin: -1px
        padding: 0
        border: 0
    

      +from($mobile)
        width: calc( (100% / 2) - $gap )
      
      +from($desktop)
        width: calc( (100% / 3) - $gap )

      .card__image
        width: 100%

      .card__content
        .card__title
          padding-block-end: $s-16
          
          & *
            line-height: 1
            margin: 0

          .card__name
            &::after
              content: attr(data-card-subtitle)
              display: block
              font-size: $fs-7
              color: $c-text-alt
              letter-spacing: 1.5px
          
          .card__price h4
            font-family: $ff-body
            font-weight: $fw-semibold
        
        .card__description
          .card__info
            display: grid
            grid-template-rows: 0fr
            transition: grid-template-rows 500ms ease-out

            .info__wrapper
              overflow: hidden

            &.is-open
              grid-template-rows: 1fr

          .read-more
            color: $c-text-alt
            cursor: pointer !important
            z-index: $z-10

            &:is(:hover, :focus)
              text-decoration: underline
                  
        .card__cta
          .btn
            display: block
            text-align: center
  
  &__load-more-btn
    display: block
    margin-block: $s-16
    margin-inline: auto