/* Colors */
$c-hue: 205
$c-primary: hsl($c-hue, 55%, 99%)
$c-primary-alt: hsl($c-hue, 55%, 92%)
$c-secondary: hsl($c-hue, 8%, 18%)
$c-secondary-alt: hsl($c-hue, 70%, 15%)
$c-accent: hsl($c-hue, 70%, 51%)
$c-accent-light: hsl($c-hue, 70%, 80%)

$c-bg-light: $c-primary
$c-bg-alt: $c-primary-alt
$c-bg-dark: $c-secondary-alt
$c-bg-accent: $c-accent
$c-text-dark: $c-secondary
$c-text-light: $c-primary
$c-text-accent: $c-accent
$c-text-heading: $c-secondary-alt

/* Typography */
$ff-ss-default: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$ff-ms-default: monospace !default
$ff-heading: 'Poppins', $ff-ss-default
$ff-body: 'Poppins', $ff-ss-default
$ff-mono: $ff-ms-default

$fs-1: 3.052rem
$fs-2: 2.441rem
$fs-3: 1.953rem
$fs-4: 1.563rem
$fs-5: 1.25rem
$fs-6: 1rem
$fs-7: 0.8rem

$fw-400: 400
$fw-500: 500
$fw-600: 600
$fw-700: 700

/* Responsiveness */
$mobile: 688px
$tablet: 992px
$desktop: 1312px
$max-width: 1280px

/* Radius */
$radius-8: 8px
$radius-16: 16px
$radius-24: 24px
$radius-rounded: 50%

/* Spacing */
$gap: 32px
$s-4: 4px
$s-8: 8px
$s-16: 16px
$s-32: 32px
$s-96: 96px

/* Transition */
$transition: all .5s ease-in-out

/* Shadows */
$shadow-1: 0 2px 4px rgba(0, 0, 0, .3)
$shadow-2: 0 4px 8px rgba(0, 0, 0, .3)

/* Borders */
$border-1: 1px solid
$border-2: 2px solid
$border-4: 4px solid

/* Z index */
$z-10: 10
$z-100: 100
